<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="stylesheets/bootstrap.css">
    <title>Netto</title>
</head>
<body class="bg-light">
<div class="container bg-white shadow">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createScheduleModal">
        Opret nyt skema
    </button>

    <!-- Modal -->
    <div class="modal fade" id="createScheduleModal" tabindex="-1" role="dialog" aria-labelledby="scheduleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="scheduleModalLabel" th:text="'Opret skema (' + ${date} + ')'"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="/create-schedule" method="post">
                <div class="modal-body text-center">
                    <input placeholder="Ansvarlig" type="text" name="shiftResponsibility">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Luk</button>
                    <button type="submit" class="btn btn-primary">Gem</button>
                </div>
                </form>
            </div>
        </div>
    </div>




    <ul class="list-group">
        <li th:each="schedule: ${schedules}" class="list-group-item text-center">
            <a th:text="${schedule.dayOfWeek} + ' ' + ${#temporals.format(schedule.date, 'dd-MM-yyyy')}|" href="/schedule/"></a>
        </li>
    </ul>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="scripts/jquery.min.js"></script>
<script src="scripts/popper.min.js"></script>
<script src="scripts/bootstrap.min.js"></script>
</body>
</html>