<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../stylesheets/bootstrap.css">
    <title>Netto</title>
</head>
<body class="bg-light">
<div class="container bg-white shadow">
    <table class="table">
        <thead>
            <th>#</th>
            <th>Kategori</th>
            <th>Beskrivelse</th>
            <th>Færdig</th>
            <th>Ansvarlig</th>
        </thead>
        <tbody>
            <tr th:each="scheduleTask: ${schedule.scheduleTasks}">
                <th th:text="${scheduleTask.task.id}"></th>
                <td th:text="${scheduleTask.task.category}"></td>
                <td th:text="${scheduleTask.task.description}"></td>
                <form action="/update-task" method="post">
                    <td><input hidden th:name="id" th:value="${scheduleTask.id}"></td>
                    <td><input hidden th:name="taskId" th:value="${scheduleTask.task.id}"></td>
                    <td><input hidden th:name="scheduleId" th:value="${scheduleTask.schedule.id}"></td>
                    <td><input th:checked="${scheduleTask.done}" class="input-group form-check-input" type="checkbox" name="done"></td>
                    <td><input th:value="${scheduleTask.responsible}" class="input-group text-center" type="text" placeholder="ansvarlig" name="responsible"></td>
                    <td><button class="btn btn-outline-success" type="submit">✔</button></td>
                </form>
            </tr>
        </tbody>
    </table>
    <hr>
    <form action="">
        <div class="text-center">
            <input class="input-group mb-4" value="Kassemedarbejder #1">
            <input class="input-group mb-4" value="Kassemedarbejder #2">
            <input class="input-group mb-4" value="Kassemedarbejder #3">
            <input class="input-group mb-4" value="Kassemedarbejder #4">
            <button class="btn btn-primary mb-3" type="submit">gem</button>
        </div>
    </form>

</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="scripts/jquery.min.js"></script>
<script src="scripts/popper.min.js"></script>
<script src="scripts/bootstrap.min.js"></script>
</body>
</html>