<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../stylesheets/bootstrap.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">

    <title>Netto</title>
</head>
<body class="bg-light">
<div class="container bg-white shadow mt-3">
    <nav class="navbar navbar-light bg-white justify-content-center justify-content-md-between">
            <a class="navbar-brand d-inline-block" href="/">
                <img src="../images/netto-logo.svg" width="150" class="d-inline-block align-top" alt="">
            </a>
        <a href="/"><span aria-hidden="true">Tilbage</span></a>
    </nav>
    <table class="table table-responsive small">
        <thead>
        <tr>
            <th class="d-none d-sm-table-cell" scope="col">#</th>
            <th class="d-none d-sm-table-cell" scope="col">Kategori</th>
            <th scope="col">Beskrivelse</th>
            <th scope="col">Færdig</th>
            <th scope="col">Ansvarlig</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="scheduleTask: ${schedule.scheduleTasks}" >
                <th class="d-none d-sm-table-cell" scope="row" th:text="${scheduleTask.task.id}" th:style="${scheduleTask.isDone()} ? 'color:#a9a9a9;' : 'color:black;'" ></th>
                <td class="d-none d-sm-table-cell" th:text="${scheduleTask.task.category}"  th:style="${scheduleTask.isDone()} ? 'color:#a9a9a9;' : 'color:black;'"></td>
                <td th:text="${scheduleTask.task.description}" th:style="${scheduleTask.isDone()} ? 'color:#a9a9a9;' : 'color:black;'"></td>
                <form action="/update-task" method="post">
                    <input hidden th:name="id" th:value="${scheduleTask.id}">
                    <input hidden th:name="taskId" th:value="${scheduleTask.task.id}">
                    <input hidden th:name="scheduleId" th:value="${scheduleTask.schedule.id}">
                    <td align="right"><input th:checked="${scheduleTask.done}" class="input-group form-check-input" type="checkbox" name="done"></td>
                    <td><input th:value="${scheduleTask.responsible}" class="input-group text-center" type="text" name="responsible"></td>
                    <td><button class="btn btn-outline-success btn-sm" type="submit"><i class="fas fa-check"></i></button></td>
                </form>
            </tr>
        </tbody>
    </table>
    <hr>

    <div th:each="cashier,iter: ${schedule.cashiers}" class="text-center mb-3">
        <form method="post" action="/update-cashier">
            <input hidden th:name="id" th:value="${cashier.id}">
            <input hidden th:name="scheduleFkId" th:value="${cashier.schedule.id}">
            <div class="input-group input-group-sm">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm" th:text="'Kassemedarbejder #' + ${iter.index + 1}"></span>
            </div>
            <input class="form-control" th:value="${cashier.name}" name="name">
            <input hidden th:name="schedule" th:field="${schedule}">
            <button class="btn btn-outline-success btn-sm d-inline-block" type="submit"><i class="fas fa-check"></i></button>
            </div>
        </form>
    </div>
    <div class="text-center">
    <form action="/update-schedule" method="post">
        <input hidden th:value="${schedule.id}" name="id">
        <input hidden th:value="${schedule.date}" type="date" name="date">
        <input hidden th:value="${schedule.shiftResponsibility}" name="shiftResponsibility">
        <label class="small w-100">Morgenfeedback</label>
        <textarea class="w-75 small" type="text" rows="5" th:text="${schedule.feedbackMorning}" name="feedbackMorning"></textarea>
        <label class="small w-100">Aftenfeedback</label>
        <textarea class="w-75 mb-2 small" type="text" rows="5" th:text="${schedule.feedbackEvening}" name="feedbackEvening"></textarea>
        <br>
        <button class="btn btn-outline-success btn-sm mb-3" type="submit"><i class="fas fa-check"></i></button>
    </form>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="scripts/jquery.min.js"></script>
<script src="scripts/popper.min.js"></script>
<script src="scripts/bootstrap.min.js"></script>
</body>
</html>